{% extends 'base.html.twig' %}


{% block title %}TU Dublin Hotel{% endblock %}

{% block body %}



    <h1>Welcome to the TU Dublin Hotel</h1>
    <p>
        <a href="{{ path('booking_new') }}">Book a Room</a>
    </p>
    <p>
        <a href ="{{ path('room_index') }}">View our Rooms and Prices</a>
    </p>
    <p>
        <a href = "{{ path('menu_index') }}">View our Restaurant Menu</a>
    </p>
    <p>
        <a href = "{{ path('reservation_new') }}">Make a Reservation at the Restaurant</a>
    </p>
    <p>
        <a href = "{{ path('review_new') }}">Leave a Review</a>
    </p>
    {% if app.user == null %}
    <p>
        <a href = "{{ path('user_new') }}">Create an Account</a>
    </p>
    {% endif %}
    <p>
    {%  if is_granted('ROLE_USER') %}
        <p>Admin Test</p>
    {% endif %}
    </p>

{% endblock %}
