{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GuestName</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>NumAdults</th>
                <th>NumChild</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.guestName }}</td>
                <td>{{ booking.startDate ? booking.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ booking.endDate ? booking.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ booking.numAdults }}</td>
                <td>{{ booking.numChild }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
